
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.css';
@import "./styles/colors";
@import "./styles/icons";
@import "./styles/mixins";

// Material Custom Theme
$portfolio-typography: mat-typography-config(
  $font-family: $font_family
);

@include mat-core($portfolio-typography);
$portfolio-primary: mat-palette($sri-colors, primary);
$portfolio-accent: mat-palette($sri-colors, accent);
$portfolio-warn: mat-palette($sri-colors, warn);
$portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);
@include angular-material-theme($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
