$white: white;
$black: black;

$blue: blue;
$orange: orange;
$red: red;

// Used for Material Colors
$sri-colors: (
  primary: $blue,
  accent: $orange,
  warn: $red,
  contrast:()
);

@function get-primary-colors() {
  @return map-get($sri-colors, primary)
}