@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    overflow: hidden;
}

body>div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    overflow-y: auto;
    padding-top: 64px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s step-end infinite;
}

@layer utilities {
    .group:hover .group-hover\:scale-x-100 {
        transform: scaleX(1);
    }
}

@keyframes gentleWave {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }
}

.wave-arm {
    transform-origin: 10px 20px;
    animation: gentleWave 2s ease-in-out infinite;
}