<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="photo" src="assets/images/srikar.jpg" alt="Srikar">
    </div>
    <div class="col-6">
      <sri-button 
        btnType="secondary" 
        (click)="goHome($event)"
        class="btn-right"
      >
        Go to Home Page
      </sri-button>
      <h3>Hello!!! I'm Srikar</h3>

      <p class="quote">
        "Nobody is perfect in this world; and I am nobody"
      </p>

      <p>
        Hey everyone! Hope you are all doing great!
        I am Srikar and I would like to tell you a little about myself
      </p>

      <p class="signature">
        <img src="assets/images/short_signature.svg" alt="M.S.P.K.">
      </p>
    </div>
  </div>
</div>