<div class="full-page-image-container">
  <div class="welcome">
    <h1>Hey! I am Srikar Phani Kumar Marti</h1>
    <h5>UI Developer | Front-end Developer</h5>
    <div class="cards mt-5">
      <div class="row">
        <div class="col-2">
          <sri-button btnType="secondary" (click)="goToMyself($event)">About myself</sri-button>
        </div>
        <div class="col-2">
          <sri-button btnType="secondary" (click)="goToCareer($event)">My Career Ladder</sri-button>
        </div>
        <div class="col-2 pl-5">
          <sri-button btnType="secondary" (click)="goToContactMe($event)">Contact Me</sri-button>
        </div>
        <div class="col-2 pl-5">
          <sri-button btnType="secondary" (click)="goToTechStack($event)">Technical Stack</sri-button>
        </div>
      </div>
    </div>
  </div>
</div>