<div class="full-page-image-container">
  <div class="welcome">
    <h1>Hey! I am Srikar Phani Kumar Marti</h1>
    <h5>UI Developer | Front-end Developer</h5>
    <div class="cards mt-5">
      <div class="row">
        <div class="col-3">
          <sri-button btnType="secondary">About</sri-button>
        </div>
        <div class="col-3">
          <sri-button btnType="secondary">Career</sri-button>
        </div>
        <div class="col-3">
          <sri-button btnType="secondary">Contact</sri-button>
        </div>
      </div>
    </div>
  </div>
</div>