.full-page-image-container {
  background-image: url("../../../assets/images/white-room.jpg");
  height: 100%;
  background-position: inherit;
  background-repeat: space;
  background-size: cover;
}
.welcome {
  padding: 185px 35px 80px 310px;
  font-family: cursive;
}
h5 {
  text-align: left;
  padding-left: 185px;
}