.full-page-image-container {
  background-image: url("../../../assets/images/white-room.jpg");
  height: 100%;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.welcome {
  padding: 185px 35px 80px 310px;
  // font-family: cursive;
}
h5 {
  text-align: left;
  padding-left: 185px;
}